# .coveragerc to control coverage.py
[run]
branch = True
#source = rdflib,build/src/rdflib # specified in .travis.yml for different envs
omit = */site-packages/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    #def __repr__
    #if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    #raise AssertionError
    #raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if __name__==.__main__.:

# path mappings for the py3 environments (doesn't seem to work on coveralls yet)
[paths]
source =
    rdflib/
    build/src/rdflib/
tests =
    test/
    build/src/test/
examples =
    examples/
    build/src/examples/
