Aayush Gupta <32807623+aayush17002@users.noreply.github.com> aayush17002 <32807623+aayush17002@users.noreply.github.com>
Aditi Sejal <55681645+asejal@users.noreply.github.com> asejal <55681645+asejal@users.noreply.github.com>
Aditya Bhadoo <44553897+bhadoo-aditya@users.noreply.github.com> bhadoo-aditya <44553897+bhadoo-aditya@users.noreply.github.com>
Akash Sharma <akashthegreatlegend@gmail.com> Akash-Sharma-1 <akashthegreatlegend@gmail.com>
Artem Revenko <artreven@gmail.com> artreven <artreven@gmail.com>
Ashley Sommer <ashleysommer@gmail.com> Ashley Sommer <Ashley.Sommer@csiro.au>
Ashley Sommer <ashleysommer@gmail.com> Ashley Sommer <ashley.sommer@csiro.au>
Arushi Chauhan <arushi16019@iiitd.ac.in> arushi019 <arushi16019@iiitd.ac.in>
Bruno Cuconato <odanoburu@users.noreply.github.com> bruno cuconato <odanoburu@users.noreply.github.com>
Christian Amsüss <c@amsuess.com> chrysn <chrysn@fsfe.org>
Cliff Xuan <cliff.xuan@gmail.com> cliff xuan <cliff.xuan@gmail.com>
Camille Maumet <c.m.j.maumet@warwick.ac.uk> cmaumet <c.m.j.maumet@warwick.ac.uk>
Chimezie Ogbuji <devnull@localhost> chimezie <devnull@localhost>
Conrad Leonard <conrad.leonard@hotmail.com> delocalizer <conrad.leonard@hotmail.com>
Cory Dodt <corydodt@gmail.com> corydodt <devnull@localhost>
Daniel Krech <eikeon@eikeon.com> convert-repo <devnull@localhost>
Daniel Krech <eikeon@eikeon.com> eikeon <devnull@localhost>
Daniel Krech <eikeon@eikeon.com> eikeon@eikeon.com <eikeon@eikeon.com>
Daniel Krech <eikeon@eikeon.com> testing <devnull@localhost>
Daniel Krech <eikeon@eikeon.com> unknown <devnull@localhost>
Dmitriy Bastrak <68817666+DBastrak@users.noreply.github.com> Dmitriy <68817666+DBastrak@users.noreply.github.com>
Drew Perttula <drewp@bigasterisk.com> drewp <devnull@localhost>
Drew Perttula <drewp@bigasterisk.com> drewpca <devnull@localhost>
Ed Summers <ehs@pobox.com> ed.summers <devnull@localhost>
Edmond Chuc <edmond.chuc@gmail.com> Edmond <edmond.chuc@outlook.com>
Edmond Chuc <edmond.chuc@gmail.com> Edmond Chuc <37032744+edmondchuc@users.noreply.github.com>
Edmond Chuc <edmond.chuc@gmail.com> Edmond Chuc <e.chuc@uq.edu.au>
Edmond Chuc <edmond.chuc@gmail.com> Edmond Chuc <edmond.chuc@outlook.com>
Elias Torres <elias@torrez.us> eliast <devnull@localhost>
Filip Kovacevic <greenfish427@gmail.com> Filip Kovacevic <f.kovacevic@gmx.at>
Fredrik Aschehoug <15358786+fredrik-aschehoug@users.noreply.github.com> fredrik-aschehoug <15358786+fredrik-aschehoug@users.noreply.github.com>
Gerhard Weis <gerhard.weis@gmail.com> Gerhard Weis <g.weis@griffith.edu.au>
Gerhard Weis <gerhard.weis@gmail.com> Gerhard Weis <gerhard.weis@gmx.com>
Graham Higgins <gjh@bel-epa.com> gjh <devnull@localhost>
Graham Higgins <gjh@bel-epa.com> gjhiggins <devnull@localhost>
Graham Higgins <gjh@bel-epa.com> Graham Higgins <gjh-bitbucket@bel-epa.com>
Graham Higgins <gjh@bel-epa.com> Graham Higgins <gjh-github@bel-epa.com>
Graham Higgins <gjh@bel-epa.com> Graham Higgins <gjhiggins@users.noreply.github.com>
Gunnar Aastrand Grimnes <gromgull@gmail.com> gromgull <gromgull@gmail.com>
Gunnar Aastrand Grimnes <gromgull@gmail.com> gromgull <devnull@localhost>
Gunnar Aastrand Grimnes <gromgull@gmail.com> Gunnar Aastrand Grimnes <gromgull@users.noreply.github.com>
Harold Solbrig <solbrig@earthlink.net> hsolbrig <solbrig.harold@mayo.edu>
Harold Solbrig <solbrig@earthlink.net> hsolbrig <solbrig@jhu.edu>
Hanno Jung <hanno.jung@googlemail.com> angus <hanno.jung@googlemail.com>
Jeroen van der Ham <vdham@uva.nl> jeroenh <devnull@localhost>
Jerven Bolleman <jerven.bolleman@sib.swiss> Jerven bolleman <jerven.bolleman@sib.swiss>
Jim Man <jimman2003@hotmail.com> jimman2003 <jimman2003@hotmail.com>
Jamie McCusker <mccusker@gmail.com> Jim McCusker <jmccusker@5amsolutions.com>
Jamie McCusker <mccusker@gmail.com> Ubuntu <ubuntu@ip-172-31-37-73.ec2.internal>
John L. Clark <devnull@localhost> John.L.Clark <devnull@localhost>
Jörn Hees <dev@joernhees.de> Jörn Hees <gitdev@joernhees.de>
Jörn Hees <dev@joernhees.de> Joern Hees <dev@joernhees.de>
Jörn Hees <dev@joernhees.de> Jörn Hees <dev@joernhees.de>
Jörn Hees <dev@joernhees.de> Joern Hees <gitdev@joernhees.de>
Jörn Hees <dev@joernhees.de> Jörn Hees <joernhees@users.noreply.github.com>
Josh Moore <josh@glencoesoftware.com> jmoore <josh@glencoesoftware.com>
Kern Cece <kerncece@gmail.com> kernc <kerncece@gmail.com>
Kushagr Arora <kushagr17062@iiitd.ac.in> kushagr08 <35035965+kushagr08@users.noreply.github.com>
Łukasz Jancewicz <dzinxed@gmail.com> DzinX <dzinxed@gmail.com>
Mark Hedley <markh@metarelate.net> marqh <markh@metarelate.net>
Mark van der Pas <mark.van.der.pas@semaku.com> gitmpje <61799691+gitmpje@users.noreply.github.com>
Mark Watts <watts.mark2015@gmail.com> Mark Watts <wattsmark2015@gmail.com>
Martin van der Werff <github@newinnovations.nl> Martin van der Werff <martin.vanderwerff@tno.nl>
Maurizio Nagni <m.nagni@gmail.com> kusamau <m.nagni@gmail.com>
Michel Pelletier <michel@graphegon.com> michel <devnull@localhost>
Mikael Nilsson <mikaeln@google.com> mikael <devnull@localhost>
Nathan Maynes <nathanmaynes@gmail.com> Nathan M <nathanmaynes@gmail.com>
Nicholas J. Car <nicholas.car@surroundaustralia.com> Nicholas Car <nicholas.car@csiro.au>
Nicholas J. Car <nicholas.car@surroundaustralia.com> Nicholas Car <nick@kurrawong.net>
Nicholas J. Car <nicholas.car@surroundaustralia.com> nicholascar <nicholas.car@surroundaustralia.com>
Niklas Lindström <lindstream@gmail.com> lindstream <devnull@localhost>
Niklas Lindström <lindstream@gmail.com> Niklas Lindstrom <lindstream@gmail.com>
Olivier Grisel <olivier.grisel@ensta.org> ogrisel <devnull@localhost>
Filip Kovacevic <greenfish427@gmail.com> GreenfishK <f.kovacevic@gmx.at>
Ralf Grubenmann <ralf.grubenmann@gmail.com> Ralf Grubenmann <ralf.grubenmann@sdsc.ethz.ch>
Remi Chateauneu <remi.chateauneu@gmail.com> Primhill Computers <remi.chateauneu@primhillcomputers.com>
Richard Wallis <richard.wallis@dataliberate.com> dataliberate <richard.wallis@dataliberate.com>
Ritam Biswas <Ritam.Biswas2020@gmail.com> devrb <Ritam.Biswas2020@gmail.com>
Rory McCann <rory@geofabrik.de> Rory McCann <rory@technomancy.org>
Rouzbeh Asghari <rouzbeh.asghari@gmail.com> rozbeh <rouzbeh.asghari@gmail.com>
Sean Fern <gsf@gsf.io> gsf747 <devnull@localhost>
Shawn Brown <devnull@localhost> shawnb <devnull@localhost>
Shreyas Nagare <shreyasnagare@gmail.com> shreyasnagare <shreyasnagare@gmail.com>
Stephen Thorne <stephen.thorne@gmail.com> stephen.thorne@gmail.com <stephen.thorne@gmail.com>
Thomas Bettler <thomas.bettler@gmail.com> t0b3 <t0b3@users.noreply.github.com>
Thomas Bettler <thomas.bettler@gmail.com> t0b3 <thomas.bettler@gmail.com>
Thomas Köner-Daikan <hi@wssbck.cc> wssbck <hi@wssbck.cc>
Thomas Kluyver <takowl@gmail.com> takowl@gmail.com <takowl@gmail.com>
Thomas Tanon <thomaspt@hotmail.fr> Tpt <thomaspt@hotmail.fr>
Thomas Tanon <thomaspt@hotmail.fr> Thomas Tanon <Tpt@users.noreply.github.com>
Timo Homburg <timo.homburg@hs-mainz.de> Timo <situx@users.noreply.github.com>
Tom Baker <tom@tombaker.org> tombaker <tom@tombaker.org>
Veyndan Stuart <veyndan@gmail.com> veyndan <veyndan@gmail.com>
Vigten Stain <vigtenstain@gmail.com> vigten <vigtenstain@gmail.com>
Wataru Haruna <w10776e8w@yahoo.co.jp> eggplants <w10776e8w@yahoo.co.jp>
William Waites <ww@styx.org> William Waites <wwaites@tardis.ed.ac.uk>
William Waites <ww@styx.org> wwaites <ww@styx.org>
William Waites <ww@styx.org> ww@epsilon.styx.org <ww@epsilon.styx.org>
Whit Morriss <d.w.morriss@gmail.com> whit <devnull@localhost>
Zach Lûster <kerncece@gmail.com> kernc <kerncece@gmail.com>
Zach Lûster <kerncece@gmail.com> Kernc <kerncece@gmail.com>