---
ci:
  # https://pre-commit.ci/#configuration
  autoupdate_schedule: weekly
  autofix_prs: false

# https://pre-commit.com/#adding-pre-commit-plugins-to-your-project
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: https://github.com/psf/black-pre-commit-mirror
    # WARNING: version should be the same as in `pyproject.toml`
    rev: "24.4.0"
    hooks:
    - id: black
      pass_filenames: false
      require_serial: true
      args: ["."]
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
    - id: poetry-check
    - id: poetry-lock
      # sadly `--no-update` does not work on pre-commit.ci
      args: ["--check"]
