include CHANGELOG.md
include LICENSE
include README.md
include CONTRIBUTORS
include ez_setup.py
include skiptests.list
recursive-include rdflib *.py
recursive-include examples *.py
include run_tests.py
graft test
graft docs
prune docs/_build
global-exclude *.pyc *$py.class
