black==22.1.0
coverage
doctest-ignore-unicode==0.1.2
flake8
flake8-black
html5lib
isort
mypy
myst-parser
pytest
pytest-cov
pytest-subtests
sphinx<5
sphinxcontrib-apidoc
sphinxcontrib-kroki
types-setuptools
