# This file is used for building a docker image of the latest rdflib release. It
# will be updated by dependabot when new releases are made.
rdflib==7.1.0
html5rdf==1.2.0
# html5lib-modern is required to allow the Dockerfile to build on with pre-RDFLib-7.1.1 releases.
html5lib-modern==1.2.0
