# This file contains requirements that get patched into readthedocs so that we
# can build with a more up to date Sphinx than is in `poetry.lock`. This file
# should be eliminated once we can get a more up-to-date version of sphinx in
# poetry.lock. It is kept here so that dependabot can update it.
Sphinx==6.1.3
