name: Validate

on:
  push:
    branches: ["master"]
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 1
  XDG_CACHE_HOME: ${{ github.workspace }}/cache
  DEFAULT_PYTHON: "3.7"

jobs:
  validate:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - python-version: "3.7"
            os: ubuntu-latest
            extensive-tests: true
          - python-version: "3.10"
            os: ubuntu-latest
            TOX_EXTRA_COMMAND: "flake8 --exit-zero rdflib"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/setup-java@v2
        if: ${{ matrix.extensive-tests }}
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Setup env
        shell: bash
        run: |
          MATRIX_PYTHON_VERSION=${{ matrix.python-version }}
          echo "TOX_PYENV=py${MATRIX_PYTHON_VERSION//./}" >> ${GITHUB_ENV}
      - name: Get pip cache dir
        id: pip-cache
        shell: bash
        run: |
          python -m ensurepip
          echo "::set-output name=dir::$(pip cache dir)"
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ matrix.os }}-pip-${{ matrix.python-version }}-v1-${{
            hashFiles('**/setup.py', '**/requirements*.txt') }}
          restore-keys: |
            ${{ matrix.os }}-pip-${{ matrix.python-version }}-v1-
      - name: Cache xdg
        uses: actions/cache@v2
        with:
          path: ${{ env.XDG_CACHE_HOME }}
          key: ${{ matrix.os }}-xdg-v1-${{ hashFiles('**/with-fuseki.sh') }}
          restore-keys: |
            ${{ matrix.os }}-xdg-v1-
      - name: Install python dependencies
        shell: bash
        # Installing tox-gh-actions to get some enhancement to output rendering
        # in github actions. Eventually we can maybe collapse the tox-envs job
        # into this one but there are some limitations of tox-gh-actions which
        # preclude doing that at the moment.
        run: |
          python -m pip install tox tox-gh-actions
      - name: Install system depdendencies for extensive tests
        if: ${{ matrix.extensive-tests }}
        shell: bash
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]
          then
              sudo apt-get install -y libdb-dev
          elif [ "${{ matrix.os }}" == "macos-latest" ]
          then
              brew install berkeley-db@4
              export BERKELEYDB_DIR=$(brew --prefix berkeley-db@4)
          fi
      - name: Validate
        shell: bash
        run: |
          test_harness=()
          if "${{ matrix.extensive-tests || false }}" && [ "${{ matrix.os }}" != "windows-latest" ]
          then
            1>&2 echo "Running with fuseki"
            test_harness+="./with-fuseki.sh"
            TOX_PYENV_SUFFIX=-extensive
          fi
          TOXENV="${{ matrix.TOXENV }}"
          TOXENV="${TOX_PYENV}${TOX_PYENV_SUFFIX}${TOXENV:+,${TOXENV}}"
          export TOXENV
          export TOX_EXTRA_COMMAND="${{ matrix.TOX_EXTRA_COMMAND }}"
          "${test_harness[@]}" python -m tox
        env:
          GH_ACTIONS_KEY: ${{matrix.os}}-${{matrix.python-version}}
  tox-envs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tox-env: ["docs"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{env.DEFAULT_PYTHON}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{env.DEFAULT_PYTHON}}
      - name: Get pip cache dir
        id: pip-cache
        shell: bash
        run: |
          python -m ensurepip --upgrade
          echo "::set-output name=dir::$(pip cache dir)"
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: tox-${{ matrix.tox-env }}-pip-v1-${{
            hashFiles('**/setup.py', '**/requirements*.txt') }}
          restore-keys: |
            tox-${{ matrix.tox-env }}-pip-v1-
      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install tox tox-gh-actions
      - name: Run ${{ matrix.tox-env }}
        shell: bash
        run: |
          python -m tox -e ${{ matrix.tox-env }}
